<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header" style="background-color: #000000; padding: 30px 20px; text-align: center;">
    <img src="https://raw.githubusercontent.com/EEseka/ShelfLife/main/art/app_logo_foreground.png"
         alt="ShelfLife"
         style="width: 40px; height: 40px; vertical-align: middle; margin-right: 10px; border-radius: 8px;">

    <span style="color: #ffffff; font-family: sans-serif; font-size: 24px; font-weight: bold; vertical-align: middle;">ShelfLife</span>
</div>
</body>
</html>